
/*style starts here*/
  /*logo*/
.glyph {
    display:none;
  }
  
  .l-top_menu-v2 .logo-container .logo {
        background-image: url(https://cdn.discordapp.com/attachments/795635457412562977/1170116608300175470/shikiSemitransparentInverted.png);
    width: 177px;
    height: 100%;
        bottom: 3px;
    position: relative;
        left: 10px;
  }

/*topbar*/
.l-top_menu-v2, .l-top_menu-v2 .menu-dropdown>span {
  height:60px;
  background: #e4efff;
  color:black;
  font-weight: 600;
  }


}

/*black color for nickanme*/
.l-top_menu-v2 .menu-dropdown>span a {
color:black;
    font-weight: 600;
}
